{% extends 'base.html.twig' %}
{% block title %}Add a link{% endblock %}
{% block body %}
    
    {{ form_start(form)}}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    
    <a href="{{ path('homepage') }}">Back</a>

{% endblock %}